p{
    text-align: center;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    text-align: center;
  }
  #content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
   
}
#content img {
    width: 25%;
    min-width: 100px;
    padding: 10px;
}
#do{
    padding-top: 50px;
}
#about{
    padding-top: 50px;
}


.intro{
    padding:135px;
}
#logo{
    padding-bottom: 0px;
}
 
 
  #padding{
      padding-bottom: 50px;
  }
  .design{
      display: none;
  }
  .dev{
      display: none;
  }
  .product{
      display: none;
  }
  .social-icons{
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
  }
  .btn-light{
      background-color: grey;
      color: black;
  }
  .btn-dark{
      background-color: black;
      color: white;
  }

 .form-control{
   border: white;
 }
 #content {
  position: relative;

}

* .text-block {
    border: solid;
    position: absolute;
    width: 150px;
    height: 120px;
    top: 15px;
    left: 15px;
    background-color:none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: none;
}
.row{
    padding-bottom: 1px;
}

#home{
    background-image: url(../assets/backgrounds/h_img.jpg);
}